<!DOCTYPE html>
<html>
<head>
<title>Add new links</title>
<link rel='stylesheet' type='text/css' href='../css/style.css'>
</head>

<body>

  <div class='container'>
<h1> Add Link </h1>
<div id='links'>
  <form action='/links' method='post'>
    Add url:<input type='text' name='url'></br></br>
    Add title:<input type='text' name='title'></br></br>
    <input class='button' type='submit' value='Submit'>
  </form>
</div>
</div>

</body>
</html>
